 GOOGLE_CLIENT_ID=1802394186a574g3pu6okgvkvgs1c3tah5hlh4fm5n.apps.googleusercontent.com                                                        2 GOOGLE_CLIENT_SECRET=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                                                3 REDIRECT_URL=http://localhost:3001/auth/google/callback      